# Access Characters by using loop

In [ ]:
>> for loop works like a iterator

syntax:
for variable_name in sequence:
    statement2
    statement2

In [ ]:
What is a For Loop?
>> A for loop is like a robot that repeats a task for each item in a collection (e.g., a list, string, or range of numbers). 
>> It automates repetitive tasks so you donâ€™t have to write the same code over and over!

In [1]:
list=[12,34,32,45]
string="dfghjfcv"
range(0-10)

range(0, -10)

In [2]:
list1=[12,34,32,45]

for num in list1:
    print(num)

12
34
32
45

In [ ]:
The loop iterates over each character in the string text.

In [3]:
string = '123456789'
print(string)

for char in string: 
    print(char)
    print("*********")

123456789
1
*********
2
*********
3
*********
4
*********
5
*********
6
*********
7
*********
8
*********
9
*********

In [4]:
string = 'python'

for char in string: 
    print(char)
    print("*********")

p
*********
y
*********
t
*********
h
*********
o
*********
n
*********

In [5]:
string = 'python'

for char in string: 
    print(f"char is {char}")
    print("*********")

char is p
*********
char is y
*********
char is t
*********
char is h
*********
char is o
*********
char is n
*********

In [6]:
string = 'python'

for char in string: 
    print("char is {}".format(char))
    print("*********")

char is p
*********
char is y
*********
char is t
*********
char is h
*********
char is o
*********
char is n
*********

In [7]:
a= "pythddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddrthjhgffffffffffffffffffffffffffon"
b= "345"

print(a,b)  #the vaule of a is..... and value of b is ....
print("value of a is ",a)

pythddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddrthjhgffffffffffffffffffffffffffon 345
value of a is  pythddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddrthjhgffffffffffffffffffffffffffon

In [8]:
print(f"the value of a is {a} and value of b is {b} ") #f string formatting
print("the value of a is {} and value of b is {}".format(a,b)) # dot formatting

the value of a is pythddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddrthjhgffffffffffffffffffffffffffon and value of b is 345
the value of a is pythddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddrthjhgffffffffffffffffffffffffffon and value of b is 345

In [9]:
fruits = ["apple", "banana", "cherry"]  

# The loop runs 3 times (once for each fruit)  
for fruit in fruits:  
    print(f"I love {fruit}!")

I love apple!
I love banana!
I love cherry!

# f-string formatting

In [ ]:
>> F-strings (formatted string literals) are a way to embed variables,
 expressions, and function calls directly inside a string using { }.

In [11]:
name = "Amar"  
age = 25  
print(f"Hello, {name}! You are {age} years old.")

Hello, Amar! You are 25 years old.

In [12]:
a = 5  
b = 3  
print(f"{a} + {b} = {a + b}")  # Output: 5 + 3 = 8

5 + 3 = 8

In [13]:
text = "python"  
print(f"Uppercase: {text.upper()}")

Uppercase: PYTHON

# dot formatting

In [14]:
name = "Akash"
age = 30
message = "My name is {} and I am {} years old.".format(name, age)
print(message)
print("My name is {} and I am {} years old".format(name, age))

My name is Akash and I am 30 years old.

# Enumerate Function

>> The enumerate() function adds a counter to an iterable (like a list, tuple, or string) and returns an enumerate object containing pairs of (index, value). 
>> It simplifies looping over iterables while tracking both the index and the element.

In [15]:
fruits = ["apple", "banana", "cherry"]  

for index, fruit in enumerate(fruits):  
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: cherry

In [16]:
string = 'python'

for char in enumerate(string):
    print(char)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [17]:
my_string = "hello"

for index, character in enumerate(my_string):
    print(f"Character at index {index}: {character}")

Character at index 0: h
Character at index 1: e
Character at index 2: l
Character at index 3: l
Character at index 4: o

In [18]:
string = 'python'

for index, value in enumerate(string):
    print(index, value)

0 p
1 y
2 t
3 h
4 o
5 n

In [19]:
string = 'python'

for index, value in enumerate(string):
    print(f"index is {index} and value is {value}")

index is 0 and value is p
index is 1 and value is y
index is 2 and value is t
index is 3 and value is h
index is 4 and value is o
index is 5 and value is n

In [20]:
for index, fruit in enumerate(fruits, start=1):  
    print(f"Position {index}: {fruit}")

Position 1: apple
Position 2: banana
Position 3: cherry

In [21]:
text = "Hello"  
vowels = "aeiouAEIOU"  

for idx, char in enumerate(text):  
    if char in vowels:  
        print(f"Vowel '{char}' at index {idx}")

Vowel 'e' at index 1
Vowel 'o' at index 4

# Range Function

>> The range() function generates a sequence of numbers and is commonly used to iterate over a loop a specific number of times. 
>> It is memory-efficient because it generates numbers on-the-fly instead of storing them all in memory.

In [ ]:
syntax:
range(start, stop, step)

In [26]:
del list

In [ ]:
num=[1,2,3,4,5,6,7,8,9,10]

In [27]:
ab=range(0, 10)  
list(ab)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
numbers = range(0, 10)  
print(list(numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
even_numbers = range(0, 10, 2)  
list(even_numbers)

[0, 2, 4, 6, 8]

In [30]:
numbers = list(range(5))
print(numbers)

[0, 1, 2, 3, 4]

In [31]:
countdown = range(5, 0, -1)  
list(countdown)

[5, 4, 3, 2, 1]

In [ ]:
# for i in list1([0,1,2,3,4,5])

In [32]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [33]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [34]:
for i in range(0,6,1):
    print(i)

0
1
2
3
4
5

In [35]:
for i in range(0,6,2):
    print(i)

0
2
4

In [36]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [37]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [38]:
for i in range(0,50,5):
    print(i)

0
5
10
15
20
25
30
35
40
45

In [39]:
list1=[12,13,141,15,16]
for num in list1:
    print(f'the number is {num}')
    print("the number is {}".format(num))

the number is 12
the number is 12
the number is 13
the number is 13
the number is 141
the number is 141
the number is 15
the number is 15
the number is 16
the number is 16

# string functions/methods

In [ ]:
1. capitalize()
2. lower()
3. upper()
4. title()
5. lstrip()
6. rstrip()
7. strip()
8. replace()
9. count()
10. index()
11. find()
12. split()
13. endswith()
14. startswith()
15. isalnum()
16. isalpha()
17. isdecimal()
18. isdigit()
19. isnumeric()
20. islower()
21. isupper()
22. istitle()
23. isspace()
24. zfill()
25. center()
26. casefold()