## Variables

>> Container to store data
>> No need to specify data type of variable
>> = sign is used to assign values to variable

In [4]:
variable1="this is variable"
variable1

'this is variable'

In [7]:
variable2=[1,2,3]
variable2
print(variable2)
print(variable1)

[1, 2, 3]
this is variable

In [8]:
type(variable1)

str

In [9]:
type(variable2)

list

In [10]:
print(type(variable1))

<class 'str'>

In [11]:
var=input("this is the message that will be showed to the user")

this is the message that will be showed to the usermy name is vishnu

In [ ]:
var2=input("please enter your age ")

In [14]:
var4=input("please enter your age ")

please enter your age 78

In [ ]:
VAR5=45
var5=67

In [16]:
string1="hello everyone"

In [17]:
type(string1)

str

In [ ]:
number=12

In [18]:
type(number)

int

In [19]:
f=3.23
type(f)

float

In [ ]:
list1=[12,34,56,43,56]

In [3]:
_char=12

In [5]:
NUMBER=12
NUMBER

12

In [9]:
number=13
number

13

In [15]:
12variable="ghj"
12variable

SyntaxError: invalid syntax (785603705.py, line 1)

Rules for Defining Variables:
    >> Start with a letter/underscore (_name).
    >> They cannot start with a number.
    >> They are case-sensitive (age is different from Age).
    >> Avoid using Python keywords (e.g., if, else, for, while, print) as variable names (reserved keywords)
    >> Variable names should be descriptive and meaningful (not a rule)

In [16]:
print="viable"

'viable'

In [ ]:
name=" ganesh, vishakha, amar"
age=[65, 34,54]

In [17]:
for="variable"
for

SyntaxError: invalid syntax (3929146603.py, line 1)

In [8]:
Deleting Variables:
    del

In [ ]:
examples:

In [19]:
abc="this is example"
abc

'this is example'

In [23]:
del abc

NameError: name 'abc' is not defined

In [24]:
del list1

In [22]:
list1=[12,34,56]
list1

[12, 34, 56]

In [ ]:
types of variable:
    >> global variable 
    >> local variable

In [ ]:
example:

## Data types

In [ ]:
>> variable can store data of different types 
>> python has various built-in data types by defaults

Numeric >> int, float, complex.
text >> str.
sequence >> list, tuple, range, set, frozenset
mapping >> dict >> { 'Name': "Rahul", 'age': 19}
set datatypes >>set, frozenset
boolean >> bool (True/ False)
Nonetype>> None

In [ ]:
Integer (int): Whole numbers (age = 30, count = 100).
Float (float): Decimal numbers (price = 99.99, pi = 3.14159)
String (str): Sequences of characters enclosed in single or double quotes (name = "vishal", message = 'Hello!').
Boolean (bool): Represents truth values, either True or False

In [1]:
num=34
type(num)

int

In [2]:
num1=45.45
type(num1)

float

In [3]:
string1="this is string"
type(string1)

str

In [5]:
ns="34"
type(ns)

str

In [ ]:
how to check the datatype of variable?

type(variable)

## Python Type Casting

In [ ]:
>> used to specify variable type
>> to change data type of variable

In [ ]:
Not all conversions are possible

## 1. int to float

In [1]:
a= 45
b = float(a)
print('a=',a, type(a)) #  a=45 int
print('b=',b, type(b)) # b= 45.0 float

a= 45 <class 'int'>
b= 45.0 <class 'float'>

In [4]:
a=45
s=float(a)
type(s)
# type(a)

float

In [11]:
A= 12457895
b = float(A)
print('A >> ',A, type(A)) 
print('b===',b, type(b))

A >>  12457895 <class 'int'>
b=== 12457895.0 <class 'float'>

## 2. float to int

In [12]:
a= 45.9999999999999
b= int(a)
print('a=',a, type(a))
print('b=',b, type(b))

a= 45.9999999999999 <class 'float'>
b= 45 <class 'int'>

In [13]:
a=23.33
b=int(a)
type(b)

int

In [14]:
a= 3.14
b= int(a)
print('a=',a, type(a))
print('b=',b, type(b))

a= 3.14 <class 'float'>
b= 3 <class 'int'>

## 3. int to complex

In [15]:
a= 4
b= complex(a)
print('a=',a, type(a))  #4, int
print('b=',b, type(b))  # 4+0j,   4+j   complex

a= 4 <class 'int'>
b= (4+0j) <class 'complex'>

In [16]:
a= -44
b= complex(a)
print('a=',a, type(a))
print('b=',b, type(b))

a= -44 <class 'int'>
b= (-44+0j) <class 'complex'>

## 4. float to complex

In [5]:
a= -56.5
b= complex(a)
print('a=',a, type(a))
print('b=',b, type(b))

a= -56.5 <class 'float'>
b= (-56.5+0j) <class 'complex'>

In [6]:
a=complex(78)
type(a)

complex

In [18]:
a= 56.5
b= complex(a)
print('a=',a, type(a))
print('b=',b, type(b))

a= 56.5 <class 'float'>
b= (56.5+0j) <class 'complex'>

## 5. complex to int

In [ ]:
TypeError: can't convert complex to int

In [19]:
a= 5+6j
b= int(a)
print('a=',a, type(a))
print('b=',b, type(b))

TypeError: can't convert complex to int

## 6. complex to float

In [20]:
a= 5+6j
b= float(a)
print('a=',a, type(a))
print('b=',b, type(b))

TypeError: can't convert complex to float

## 7. int to string

In [7]:
a=7899
b=str(a)
type(b)
type(a)
type(b)

str

In [22]:
a= 55
b= str(a)
print('a=',a, type(a)) #55,int
print('b=',b, type(b)) #'55', str

a= 55 <class 'int'>
b= 55 <class 'str'>

## 8. float to string

In [23]:
a= 55.6
b= str(a)
print('a=',a, type(a))
print('b=',b, type(b))
b

a= 55.6 <class 'float'>
b= 55.6 <class 'str'>

'55.6'

In [24]:
a= 5+6j
b= str(a)
print('a=',a, type(a))
print('b=',b, type(b))
b

a= (5+6j) <class 'complex'>
b= (5+6j) <class 'str'>

'(5+6j)'

## 9. string to int

In [10]:
a="123vgg@$##"
aa=123
type(aa)

int

In [25]:
string1 = '1234'
b = int(string1)
print('a=',string1, type(string1))
print('b=',b, type(b))

a= 1234 <class 'str'>
b= 1234 <class 'int'>

In [11]:
string1 = '1234as'
b = int(string1)
print('a=',string1, type(string1))
print('b=',b, type(b))

ValueError: invalid literal for int() with base 10: '1234as'

In [26]:
d= '4'
g= '5'
g+d #54

'54'

In [ ]:
a=

In [27]:
d= '4'
g= '5'
int(d)+int(g)

9

# string

In [ ]:
>> A string is a sequence of characters enclosed in quotes.

>> Used to represent text data (e.g., names, messages, file paths).

>> digit(0-9), space, special character(!@#$%^&*) can be there in string 
                                     
>> Immutable: Once created, strings cannot be modified (but new strings can be created).
                                     
>> Strings are used to represent textual data

In [ ]:
#Creating Strings:

string1 = 'Hello'
string2 = "World"
string3 = 'This is a string.'
string4 = "Another string here."
string=  "23 fgj !@#"

In [ ]:
# Triple quotes (''' or """) are used for multi-line strings or docstrings (documentation strings):

multi_line_string = '''This is a
string that spans
multiple lines.'''

another_multi_line = """You can also use
double triple quotes."""