# Dictionary

In [ ]:
str     : immutable,ordered,duplicates are allowed, '', """""",
list:     mutable ,ordered, duplicates are allowed, [], ,
tuple   : immutable,ordered, duplicates are allowed,()
set     : mutable, unordered, duplicates are not allowed, indexing is not allowed, set(),{}
frozenset: immutable, unordered,duplicates are not allowed, indexing is not allowed,frozensetset(),{}

>> A dictionary is an ordered collection of key-value pairs. 

>> Each key in a dictionary must be unique and immutable (like strings, numbers, or tuples), while the corresponding value can be of any data type.

>> Dictionaries are defined by enclosing key-value pairs in curly braces {}, with each pair separated by a colon : and the pairs themselves separated by commas.

In [ ]:
properties:
    
1. Mutable
2. it is collection of key and value pairs
3. we can not use indexing
4. duplicate keys are not allowed.
5. duplicate values are allowed.
6. are enclosed by {}, pairs of key and values are separated by ,
7. ordered

key >> int, float, str,complex,tuple,frozenset(Immutable data type)
values >> int, float, str,complex,tuple,frozenset,set, list, dict

ordered or not?
Ordered : if python version >=3.7
Unordered: if python version <3.7

In [16]:
dict2={"suyash":25, "vikas":28, "vilas":40} #>>key=shubham, vikas, vilas >> value=25,28,40
type(dict2)
print(dict2)

{'suyash': 25, 'vikas': 28, 'vilas': 40}

In [1]:
dict1 = {'A': 20,'B':30}  #key >>> A and B , Value>> 20,30

In [2]:
dict1 = {'A': 20,'B':30}
type(dict1)

dict

In [3]:
dict1 = {'A': 20,'B':30}
print(dict1)

{'A': 20, 'B': 30}

In [4]:
dict1 = {1:35,3.5:'python',"L": 45, "data": "science"}
type(dict1)

dict

In [3]:
dict1 = {1:35,3.5:'python',"L": 45, "data": "science"}
print(dict1)

{1: 35, 3.5: 'python', 'L': 45, 'data': 'science'}

# How to access Items from dictionary:

You can access the values in a dictionary using their corresponding keys.

In [1]:
dict2 = {'A':100,'B':300,'C':500,'D':600}
print(dict2['A'])
print(dict2["C"])

100
500

In [7]:
dict2 = {'A':100,'B':100,'C':100,'D':100}
dict2[0] #by using index number

KeyError: 0

# functions in dictionary:

### 1. .get(key, default=None)

In [ ]:
 Returns the value for the specified key.

In [8]:
my_dict = {"name": "shubham", "age": 30}
print(my_dict.get("name"))    
print(my_dict.get("age"))

shubham
30

### 2.  .keys()

Returns a view object that displays a list of all the keys in the dictionary.

In [9]:
my_dict = {"name": "shubham", "age": 30, "city": "bengaluru"}
keys = my_dict.keys()
print(keys)     
print(list(keys))

dict_keys(['name', 'age', 'city'])
['name', 'age', 'city']

### 3. values()

Returns a view object that displays a list of all the values in the dictionary.

In [1]:
my_dict = {"name": "suyash", "age": 30, "city": "bengaluru"}
values = my_dict.values()
print(values)     
print(list(values))

dict_values(['suyash', 30, 'bengaluru'])
['suyash', 30, 'bengaluru']

### 4. .items()

 Returns a view object that displays a list of all the key-value pairs as tuples.

In [2]:
my_dict = {"name": "suyash", "age": 30, "city": "bengaluru"}
items  = my_dict.items ()
print(items )     
print(list(items ))

dict_items([('name', 'suyash'), ('age', 30), ('city', 'bengaluru')])
[('name', 'suyash'), ('age', 30), ('city', 'bengaluru')]

### 5. .update()

In [ ]:
it updates the dictionary with specified key value pair

In [6]:
d1 = {}
d2 ={4:16,5:20,6:25}
d1.update(d2)
d1

{4: 16, 5: 20, 6: 25}

In [13]:
d1 = {'A':16,5:20,"data":25}
d2 ={3.5:98}
d1.update(d2)
d1

{'A': 16, 5: 20, 'data': 25, 3.5: 98}

In [7]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}
player.update({'City':"Mumbai"})
player

{'Name': 'Virat Kohli',
 'Age': 35,
 'Team': 'India',
 'Score': 100,
 'City': 'Mumbai'}

In [15]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}
player.update({'Country':"IND"})
player

{'Name': 'Virat Kohli',
 'Age': 35,
 'Team': 'India',
 'Score': 100,
 'Country': 'IND'}

In [8]:
d1 = {'a':97,'b':56}
d2 = {'c':98,'d':57}
d1.update(d2)
print('D1   :',d1)
print('D2   :',d2)

D1   : {'a': 97, 'b': 56, 'c': 98, 'd': 57}
D2   : {'c': 98, 'd': 57}

# 6 .fromkeys()

>> This method is a quick way to create a new dictionary where all keys have the same initial value.
>> To initialize a dictionary with a default value for a set of keys.

Syntax: 
    dict.fromkeys(keys, value)

keys: A list or any sequence of items that will become the keys.

value: The single value you want to assign to all the keys. If you don't provide this, the value will be None.

In [10]:
user_data_keys = ["name", "email", "phone"]

# Create a dictionary without a default value
user_profile = dict.fromkeys(user_data_keys)

print(user_profile)

{'name': None, 'email': None, 'phone': None}

In [1]:
user_data_keys = ["name", "email", "phone"]

dict1=dict.fromkeys(user_data_keys, 0)
dict1

{'name': 0, 'email': 0, 'phone': 0}

# 7.zip()

>> used to pair up items from two or more lists.
>> useful for creating a dictionary when you have your keys in one list and your values in another.

>> It "zips" together two lists, pairing the first item of the first list with the first item of the second list, and so on.

In [12]:
keys_list = ["name", "company", "city"]
values_list = ["Sita", "Google", "Bengaluru"]

employee_data = dict(zip(keys_list, values_list))
employee_data

{'name': 'Sita', 'company': 'Google', 'city': 'Bengaluru'}

In [15]:
keys = ["a", "b"]
values = [1, 2, 3] # This list is longer

dict11 = dict(zip(keys, values))
dict11
# The value 3 is ignored because there is no corresponding key.

{'a': 1, 'b': 2}

# Nested Dictionary

In [ ]:
>> Dict in dict

In [4]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': 80000},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}
len(employee_details)

3

In [5]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000}}
len(employee_details)

1

In [3]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': 80000},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}

employee_details['TCS10005']['Name'] #dict
employee_details['TCS10005']['Salary']

95000

In [7]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': 80000},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}

employee_details['TCS10006']['Name']

'Pravin'

In [5]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': [80000,40000,60000,70000]},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}

employee_details['TCS10006']['Salary']#[1]
employee_details['TCS10006']['Salary'][1]

40000

In [8]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer', #aplication developer
                                'Location': 'Mumbai',
                                'Salary': [80000,40000,60000,70000]},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}

employee_details['TCS10006']['Designation'] #= "Application Developer"
#employee_details
employee_details['TCS10006']['Designation'] = "Application Developer"
employee_details

{'TCS10005': {'Name': 'Vishal',
  'Age': 28,
  'Designation': 'Data Scientist',
  'Location': 'Pune',
  'Salary': 95000},
 'TCS10006': {'Name': 'Pravin',
  'Age': 27,
  'Designation': 'Application Developer',
  'Location': 'Mumbai',
  'Salary': [80000, 40000, 60000, 70000]},
 'TCS10007': {'Name': 'Anand',
  'Age': 29,
  'Designation': 'Data Analyst',
  'Location': 'Banglore',
  'Salary': 90000}}

# How to delete items from dict

1. pop()
2. popitem()
3. clear()

In [9]:
employee_details = {'Name': 'Vikram',
                    'Age' : 29,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}
# print(employee_details)
employee_details

{'Name': 'Vikram',
 'Age': 29,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune',
 'Salary': 95000}

### 1. pop()

In [ ]:
removes element with specified key

In [10]:
employee_details = {'Name': 'Vikram',
                    'Age' : 29,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}   #remove Location

employee_details.pop('Location')
employee_details

{'Name': 'Vikram',
 'Age': 29,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Salary': 95000}

In [11]:
employee_details = {'Name': 'Vikram',
                    'Age' : 29,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}


employee_details.pop('Salary')
employee_details

{'Name': 'Vikram',
 'Age': 29,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune'}

In [12]:
employee_details = {'Name': 'Vikram',
                    'Age' : 29,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000} 

employee_details.pop('age')
employee_details

KeyError: 'age'

### 2. popitem()

In [ ]:
used to remove/delete last inserted item

In [13]:
employee_details = {'Name': 'Vikram',
                    'Age' : 29,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  

employee_details.popitem()
employee_details

{'Name': 'Vikram',
 'Age': 29,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune'}

In [14]:
employee_details = {'Name': 'Vikram',
                    'Age' : 29,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  
print('len of dict before popitem is: ',len(employee_details))

employee_details.popitem()
print('len of dict after popitem is : ',len(employee_details))
employee_details

len of dict before popitem is:  6
len of dict after popitem is :  5

{'Name': 'Vikram',
 'Age': 29,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune'}

### 3. clear()

In [ ]:
remove all element from dict

In [15]:
employee_details = {'Name': 'Vikram',
                    'Age' : 29,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}

employee_details.clear()
employee_details

{}

### 4. del keyword

In [16]:
employee_details = {'Name': 'Vikram',
                    'Age' : 29,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}
del employee_details
employee_details

NameError: name 'employee_details' is not defined

In [33]:
employee_details = {'Name': 'Vikram',
                    'Age' : 29,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}
del employee_details
employee_details

NameError: name 'employee_details' is not defined

In [17]:
employee_details = {'Name': 'Vikram',
                    'Age' : 29,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}

del employee_details['Age']
employee_details

{'Name': 'Vikram',
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune',
 'Salary': 95000}

In [ ]:
# Questions:

Question: Create an empty dictionary named my_info. Then, add the key-value pairs "name": "shraddha" and "age": 24 to it. Print the dictionary.

In [20]:
my_info = {}
my_info["name"] = "shraddha"
my_info["age"] = 24
print(my_info)
my_info["age"]=30
print(my_info)

{'name': 'shraddha', 'age': 24}
{'name': 'shraddha', 'age': 30}

In [3]:
my_info={}
my_info.update({"name":"shraddha","age":24})
my_info

{'name': 'shraddha', 'age': 24}

Question:Given the dictionary student = {"name": "Aman", "grade": "A"}, access and print the value associated with the key "name".

In [37]:
student = {"name": "Aman", "grade": "A"}
print(student["name"])

Aman

Question: Given the dictionary items = {"apple": 1, "banana": 2, "cherry": 3}, how would you get a list of all the keys in this dictionary?

In [21]:
items = {"apple": 1, "banana": 2, "cherry": 3}
keys_list = list(items.keys())
print(keys_list)

['apple', 'banana', 'cherry']