# List Constructor

In [ ]:
>> purpose of the list() constructor is to create a new list from an iterable.


>> An iterable is any object in Python that can return its members one at a time, such as:
Strings
Tuples
Sets
Dictionaries (it will iterate over the keys by default)
Ranges (created using range())
Other lists

In [ ]:
Syntax:
    new_list = list(iterable)

In [1]:
at="python_@#$%^1234"
l=list(at)
print(l)

['p', 'y', 't', 'h', 'o', 'n', '_', '@', '#', '$', '%', '^', '1', '2', '3', '4']

In [2]:
my_string = "hello"
list_from_string = list(my_string)
print(list_from_string)

['h', 'e', 'l', 'l', 'o']

In [3]:
t1= (1,2,'a',4,5)
type(t1)

tuple

In [5]:
#creating list by using tuple (t1)
new_list=list(t1) #
type(new_list)
new_list

[1, 2, 'a', 4, 5]

In [6]:
t11= {1,2,5,4,5,5678,6789}
type(t11)

set

In [8]:
#creating list by using set t11
l4 = list(t11) 
print(type(l4))

<class 'list'>

In [9]:
ra=range(0,11)
print(list(ra))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(range(5,50,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [12]:
my_dict = {"a": 1, "b": 2, "c": 3}
list_from_dict_keys = list(my_dict)
print(list_from_dict_keys)

['a', 'b', 'c']

In [13]:
my_dict = {"a": 1, "b": 2, "c": 3}
list_from_dict_values = list(my_dict.values())
print(list_from_dict_values)

[1, 2, 3]

# list functions/methods

# 1. append

In [ ]:
>> Adds an item to the end of the list.

In [ ]:
syntax:
    list.append(item)

In [15]:
fruits = ["apple", "banana"] 
print(fruits)
fruits.append("cherry")  
print(fruits)

['apple', 'banana']
['apple', 'banana', 'cherry']

In [16]:
var1 = [3,4,5]
var2 = [10,8,9] # this will be considered as single item
y =var1.append(var2)
print(var1)
print(len(var1))

[3, 4, 5, [10, 8, 9]]
4

# write a program to filter out odd and even numbers from the list, create two list containing odd and even numbers.
ls=[12,4,23,56,67,87,87,98]

In [17]:
ls=[12,4,23,56,67,87,87,98] 

odd_numbers=[]
even_numbers=[]
for num in ls:
    if num%2==0:
        even_numbers.append(num)
    else:
        odd_numbers.append(num)
        
print("odd numbers list", odd_numbers)
print("even numbers list", even_numbers)

odd numbers list [23, 67, 87, 87]
even numbers list [12, 4, 56, 98]

# 2. extend(iterable)

In [ ]:
>>> Adds all elements of an iterable (e.g., list, tuple) to the end.

In [18]:
list1 = [1, 2,3]  
list2 = [3, 4,5]  
list1.extend(list2)  
print(list1)
print(len(list1))

[1, 2, 3, 3, 4, 5]
6

# 3. insert(index, item)

In [ ]:
>> when we want to add item at particulat index
syntax:
    list.insert(index,item)

In [19]:
#add number 30 at index number 2
numbers = [10, 20, 40]  # 
numbers.insert(2, 30)  # Insert 30 at index 2  
print(numbers)

[10, 20, 30, 40]

In [20]:
var1 = [3,4,5]
var1.append('data')
var1

[3, 4, 5, 'data']

In [ ]:
# To remove items from list>>
remove pop() clear() del

# 4. remove(item)

In [ ]:
>> Removes the first occurrence of the item.
syntax:
    list.remove(item)

In [21]:
data = [5, 2, 3, 2]  
data.remove(2)  
print(data)

[5, 3, 2]

In [22]:
var2= [3, 4, 5, 'data',10,10.5]
var2

[3, 4, 5, 'data', 10, 10.5]

In [23]:
var2.remove(4)
var2

[3, 5, 'data', 10, 10.5]

In [24]:
var2= [3, 4, 5, 'data',10,10.5]
var2.remove('data')
var2

[3, 4, 5, 10, 10.5]

In [25]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.remove('Che')
sub_names

['Phy', 'Math', 'Eng', 'Bio']

In [26]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.remove('bio')
sub_names #we are trying to remove bio which is not in the list

ValueError: list.remove(x): x not in list

In [27]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
val = 'Math'
if val in sub_names:
    sub_names.remove(val)
    print("item Deleted")
else:
    print("item not found")

item Deleted

In [28]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
val = 'Science'
if val in sub_names:
    sub_names.remove(val)
    print("item Deleted")
else:
    print("item not found")

item not found

In [29]:
#remove item "Math" from the list

sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
val = 'Math'
if val in sub_names:
    sub_names.remove(val)
    print("item Deleted")
else:
    print("item not found")

item Deleted

# 5. pop()

In [ ]:
>> Removes and returns the item at index (default: last item).

In [31]:
fruits = ["apple", "banana", "cherry"]  
popped = fruits.pop(1)# Remove "banana" 
poppp=fruits.pop(0) # remove apple
print(fruits)  
print(popped) 
print(poppp)

['cherry']
banana
apple

In [32]:
ls=[1,2,4,5,67,786]
ls.pop(1)
ls
ls.pop() #default last item is removed
ls

[1, 4, 5, 67]

# 6. clear()

In [ ]:
>> Removes all items from the list.

In [33]:
items = [1, 2, 3]  
items.clear()  
print(items)

[]

# del keyword

In [ ]:
>> It can used to delete variables and items from list

In [34]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
del sub_names[2]
sub_names

['Phy', 'Che', 'Eng', 'Bio']

In [35]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
del sub_names
sub_names

NameError: name 'sub_names' is not defined

In [36]:
string = 'python'
del string
string

NameError: name 'string' is not defined

# 7. sort()

In [ ]:
>> Sorts the list in-place (ascending by default).
syntax:
    list.sort() #for ascending order
    list.sort(reverse=True) #for descending order

In [37]:
numbers = [3, 1, 4, 2]  
numbers.sort()  
print(numbers)

[1, 2, 3, 4]

In [38]:
numbers = [3, 1, 4, 2, 2,2]  
numbers.sort()  
print(numbers)

[1, 2, 2, 2, 3, 4]

In [39]:
# Sort in descending order  
numbers.sort(reverse=True)  
print(numbers)

[4, 3, 2, 2, 2, 1]

# 8. reverse()

In [ ]:
>> Reverses the list in-place.

In [41]:
letters = ["a", "b", "c"]  
letters.reverse()  
print(letters)

['c', 'b', 'a']

# 9. index(item)

In [ ]:
>> Returns the index of the first occurrence of item.

In [42]:
data = [10, 20, 30, 20]  
print(data.index(20))
data.index(30)

1

2

In [43]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
print(sub_names.index('Eng'))

3

# 10. count(item)

In [ ]:
>> Returns the number of times item appears in the list.

In [44]:
numbers = [1, 2, 3, 2, 2]  
print(numbers.count(2))

3

# Built-in Functions with Examples

In [ ]:
len, min, max, sum, sorted, reversed

# 1.len(list)

In [ ]:
>> Returns the number of items in the list.

In [45]:
fruits = ["apple", "banana", "cherry"]
length = len(fruits)
print(length)

3

# 2.sorted(iterable)

In [ ]:
>> Returns a new sorted list from the items in the iterable (doesn't modify the original list).

In [46]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6]
sorted_numbers = sorted(numbers)
print(numbers)       
print(sorted_numbers)

[3, 1, 4, 1, 5, 9, 2, 6]
[1, 1, 2, 3, 4, 5, 6, 9]