# List

In [ ]:
>> list is a collection of items
>> we can add any datatypes in list
>> datatypes>> int, float, str, complex, list, dict, tuple, frozenset, set, numpy array, pandas dataframes
pandas series

In [2]:
list11=[12,23,56,78]
type(list11)
len(list11)

4

In [3]:
l=[12,45,[45,67,65],[45,65,75]] #nested list>>>list inside list
len(l)

4

In [4]:
list12=["narendra","amit","jay","nirmala"]
type(list12)
list13=["narendra",12,34.34,(3+4j)]
type(list13)

list

In [5]:
list13=["narendra",12,34.34,(3+4j)]

print(type(list13))
print(type(list13[0]))
print(type(list13[1]))
print(len(list13))

<class 'list'>
<class 'str'>
<class 'int'>
4

In [6]:
list1=[12,34,12,45]
type(list1)

list

# Properties of list data type

In [ ]:
1. lists are mutable >> changeble (add, delete,update)
2. it is an ordered datatypes.
3. Duplicate items are allowed.
4. lists are enclosed by []
5. Heterogeneous: Supports different data types (e.g., int, str, list).
6. list items are comma seperated

In [ ]:
Mutable >> we can change, add, remove items in list
Ordered >> list items have a defined order and that order will not change
Allow Duplicates >> since list are indexed, list can have items with same value

In [7]:
list7 = [1,2,2.3,'python',20,2+5j]
list7
list7[0]="data"
list7

['data', 2, 2.3, 'python', 20, (2+5j)]

In [8]:
st="data science"
st[0]="A"
st

TypeError: 'str' object does not support item assignment

In [9]:
list1 = [1,2,2.3,'python',20,2+5j]
list1

[1, 2, 2.3, 'python', 20, (2+5j)]

In [10]:
l3 = ['d', 'a', 't','a']
print(len(l3))
l3

4

['d', 'a', 't', 'a']

# Indexing

In [ ]:
>> positive index will starts with zero from left
>> negative index starts with -1 from right

In [11]:
list1 = ['d', 'a', 't','a']
print(len(list1))
list1[0]

4

'd'

In [ ]:
list1      =   [1,  2,   3,  4,   5]

+ve index       0   1    2   3    4
-ve index      -5  -4   -3   -2   -1

In [12]:
listss=["modi","shaha","nirmala"]
# print(listss[1])
# print(listss[2])
print(listss[-1])
print(listss[-2])

nirmala
shaha

# Slicing

In [ ]:
>> list(list_name[start_index(included): end_index(excluded): step_size])
list[start:end:step]

In [ ]:
>> Default start index >> 0
>> Default end index   >> len('list')

In [13]:
list9 = [1,5,'data',500,3.14,'machine learning',20,30]
list9

[1, 5, 'data', 500, 3.14, 'machine learning', 20, 30]

In [14]:
list9[2:5]

['data', 500, 3.14]

In [15]:
list9[:6]

[1, 5, 'data', 500, 3.14, 'machine learning']

In [16]:
list9[::2]

[1, 'data', 3.14, 20]

In [17]:
list2 = [1,2,3,4,5,6,7,8,9,10,1,2,4,5,2]
print(list2[1:6])
print(list2[-7:-2])
print(list2[1:-2])
print(list2[:8:3])

[2, 3, 4, 5, 6]
[9, 10, 1, 2, 4]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 4]
[1, 4, 7]

In [18]:
list11=[1,2,3,4,5,6,7,8,9]
print(list11[2:])
print(list11[::2]) #alternate items from list
print(list11[::-1]) #reversed list

[3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
ls1=[1,2,3,[44,55,66],[777,888,999]]
len(ls1)
print(ls1[3])
print(ls1[3][1:])
print(ls1[4][2])
print(ls1[4][-1])

[44, 55, 66]
[55, 66]
999
999

In [20]:
#alternate numbers from item with index number 5
ls1=[1,2,3,[44,55,66],[777,888,999],[12,34,56,78,98]]

In [21]:
list2 = [1,2,3,4,5,6,7,8,9,10,1,2,4,5,2]
list2[::-1] #Reverse list

[2, 5, 4, 2, 1, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Access list items by using for loop

for variable in sequence:
    statement1
    statement2

In [23]:
ls=[34,56]
for items in ls:
    print(items)

34
56

In [24]:
list2 = [1,2,3,4,5,6]

for val in list2:
    print(val)

1
2
3
4
5
6

In [25]:
list2 = [1,2,3,4,5,6]

for item in list2:
    print(item,end= " ")
# print(list2)

1 2 3 4 5 6

In [26]:
city_names_list = ['pune', 'ahemadnagar', 'mumbai','amravati']

for city_name in city_names_list:
    print('city name is ',city_name)

city name is  pune
city name is  ahemadnagar
city name is  mumbai
city name is  amravati

In [27]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']

for city_name in city_names:
    print('city name is ',city_name)
    print("*"*40)

city name is  pune
****************************************
city name is  ahemadnagar
****************************************
city name is  mumbai
****************************************
city name is  amravati
****************************************

In [28]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']

for city in city_names:
    print('city name is ',city.upper())
    print("*"*70)

city name is  PUNE
**********************************************************************
city name is  AHEMADNAGAR
**********************************************************************
city name is  MUMBAI
**********************************************************************
city name is  AMRAVATI
**********************************************************************

In [29]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']
for index,city in enumerate(city_names):
    print(city)

pune
ahemadnagar
mumbai
amravati

In [ ]:
print, type, len>>

In [30]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']
for index,city in enumerate(city_names):
    print(f"index is {index} and city name is {city}")

index is 0 and city name is pune
index is 1 and city name is ahemadnagar
index is 2 and city name is mumbai
index is 3 and city name is amravati

In [31]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']
for index,city in enumerate(city_names):
    print(f"city at index {index}  is {city}")
    print("*"*80)

city at index 0  is pune
********************************************************************************
city at index 1  is ahemadnagar
********************************************************************************
city at index 2  is mumbai
********************************************************************************
city at index 3  is amravati
********************************************************************************