# set

>> A set is an unordered collection of unique elements. Sets are defined by enclosing a sequence of items in curly braces {}, with items separated by commas.
 
>> This means that a set cannot contain duplicate values, and the order 1  in which elements are stored is not guaranteed or maintained.

Properties of Sets:
    
1.Unordered: Elements in a set have no specific order.
2.Unique Elements: Sets automatically remove duplicate values.
3.Mutable: Sets are changeable. You can add and remove elements from a set after it's created.
4.Heterogeneous Items: A single set can contain items of different immutable data types (e.g., integers, floats, strings, tuples).
However, mutable objects like lists cannot be elements of a set.
5.Not Sequence Type: Unlike lists and tuples, sets are not sequences. This means you cannot access elements using indices or slicing.

# How to Create a Set:

In [3]:
set1={1,2,3,4,5}
set2={"we","are","learning","python"}
print(type(set1))
print(type(set2))
set3={[1,3,4],[3,5,6]}
set3

<class 'set'>
<class 'set'>

TypeError: unhashable type: 'list'

In [1]:
var1={78,89,78,89,90,100,70}
type(var1)

set

In [2]:
my_set = {1, 2, 3}
print(my_set)

{1, 2, 3}

In [3]:
# Sets automatically remove duplicates
duplicate_set = {1, 2, 2, 3, 3, 3}
print(duplicate_set)

{1, 2, 3}

In [2]:
# Set with mixed data types
mixed_set = {1, "hello", 3.14, True}
print(mixed_set)

{1, 3.14, 'hello'}

In [2]:
# From a list
my_list = [1, 2, 2, 3, 4, 4, 5]
set_from_list = set(my_list)
print(set_from_list)
print(type(set_from_list))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
# From a tuple
my_tuple = (5, 6, 6, 7, 8, 8, 8)
set_from_tuple = set(my_tuple)
print(set_from_tuple)

{8, 5, 6, 7}

In [6]:
# From a string
my_string = "hello"
set_from_string = set(my_string)
print(set_from_string)

{'o', 'l', 'e', 'h'}

# type casting in set: 
As seen above with the set() constructor, you can perform type casting to create a set from other iterable types like lists string and tuples.

# How to Access Items from a Set:

>> Because sets are unordered, you cannot access items using indices like you do with lists or tuples.

In [7]:
set1={1, 2, 3, 4, 5}
set1[1]

TypeError: 'set' object is not subscriptable

In [ ]:
we can access or work with the elements of set by:
    1.Iteration using for loop
    2.checking for membership using in operator  #membership operators>>>>in, not in

In [10]:
for fruits in my_set:
    print(fruits)

apple
cherry
banana

In [8]:
my_set = {"apple", "banana", "cherry"}
if "banana" in my_set:
    print("Banana is in the set")

Banana is in the set

In [15]:
if "grape" not in my_set:
    print("Grape is not in the set")

Grape is not in the set

In [ ]:
#take any list, convert that into set and then use membership operators to access the elements from that set.

In [1]:
list1=["shubham","nalini","vikas","girish"]
type(list1)
set1=set(list1)
type(set1)
print(set1)
if "vishnu" not in set1:
    print("vishnu in not in the set")

{'vikas', 'girish', 'nalini', 'shubham'}
vishnu in not in the set

# List of Set Functions

### 1.add(element)

Adds a single element to the set. If the element is already present, it does nothing.

In [19]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [20]:
my_set.add(2)  # Adding a duplicate has no effect
print(my_set)

{1, 2, 3, 4}

### 2.update(iterable)

>> Adds multiple elements to the set from an iterables (like a list, tuple, or another set). 
>> Duplicate elements are automatically ignored.

In [3]:
my_set = {1, 2, 3}
my_set.update([3, 4, 5])
print(my_set)

{1, 2, 3, 4, 5}

In [19]:
my_set.update((5, 6))
print(my_set)

{1, 2, 3, 4, 5, 6}

### 3  .remove(element)

>> Removes a specified element from the set. If the element is not found, it raises a KeyError.

In [4]:
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)

{1, 3}

In [21]:
my_set.remove(4)

KeyError: 4

### 4  .discard(element)

>> Removes a specified element from the set if it is present. If the element is not found, it does nothing (no error is raised).

In [23]:
my_set = {1, 2, 3}
my_set.discard(2)
print(my_set)

{1, 3}

In [5]:
my_set.discard(4)  # Does nothing
print(my_set)

{1, 3}

### 5  .pop()

>> Removes and returns an arbitrary element from the set. 
>> Since sets are unordered, you don't know which element will be removed.
>> If the set is empty, it raises a KeyError

In [25]:
my_set = {1, 2, 3} 
removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 3}

In [29]:
my_set1 = {2, 3, 6, 9, 60,24}
rem=my_set1.pop()
print(rem)
print(my_set1)

2
{3, 6, 24, 9, 60}

### 6  .clear()

>> Removes all elements from the set, making it an empty set.

In [27]:
my_set = {1, 2, 3}
my_set.clear()
print(my_set)

set()

### 7 .union(other_set)

>> Returns a new set containing all elements from the original set and all the specified other sets.

In [30]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

### 8  .intersection(other_set, ...)

>> Returns a new set containing only the elements that are common to the original set and all the specified other sets.

In [31]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}


intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [38]:
set1 = {1, 2, 3, 4, 5,7,8}
set2 = {3, 4, 5, 10,11}
set3 = {10, 11, 3, 4, 5}

inter=set1.intersection(set2,set3)
print(inter)

{3, 4, 5}

### 9 .difference(other_set, ...)

>> Returns a new set containing elements in the original set that are not in any of the specified other sets.

In [30]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

### 10 .symmetric_difference(other_set)

>> Returns a new set containing elements that are in either the original set or the other set, but not in both.

In [32]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 4, 5}

### 11  .isdisjoint(other_set)

>> Returns True if the set has no elements in common with the other set, and False otherwise

>> returns true or false

In [33]:
set1 = {1, 2}
set2 = {3, 4}
is_disjoint = set1.isdisjoint(set2)
print(is_disjoint)

True

In [33]:
set3 = {2, 5}
is_disjoint_2 = set1.isdisjoint(set3)
print(is_disjoint_2)

False

### 12 .issubset(other_set)

>> Returns True if all elements of the set are present in the other set, and False otherwise.
>> returns true or false

In [36]:
set1 = {1, 2}
set2 = {1, 2, 3}
is_subset = set1.issubset(set2) 
print(is_subset)

set3={1,4}
is_subset2=set3.issubset(set2)
print(is_subset2)

True
False

### 13. issuperset(other_set)

>> Returns True if all elements of the other set are present in the set, and False otherwise.

In [37]:
set1 = {1, 2, 3}
set2 = {1, 2}
is_superset = set1.issuperset(set2)
print(is_superset)

True

# frozenset

>> A frozenset is an immutable version of a Python set, meaning its contents cannot be modified after creation.
 
>> A frozenset is an unordered collection of unique and immutable elements. 
Once created, you cannot add, remove, or modify the elements within a frozenset. 
Frozensets are created using the frozenset() constructor.

# properties

In [ ]:
>> Unordered:  Elements in a frozenset have no specific order.
>> Unique Elements:  Frozensets like sets, only store unique elements.
>> Immutable:  Once created, the elements of a frozenset cannot be changed.
>> Frozensets can contain different immutable data types.

# How to Create a Frozenset:

In [1]:
# From a list
my_list = [1, 2, 2, 3, 4]
my_frozenset_from_list = frozenset(my_list)
print(my_frozenset_from_list)

frozenset({1, 2, 3, 4})

In [2]:
# From a tuple
my_tuple = (5, 6, 6, 7)
my_frozenset_from_tuple = frozenset(my_tuple)
print(my_frozenset_from_tuple)

frozenset({5, 6, 7})

In [3]:
# From a string
my_string = "hello"
my_frozenset_from_string = frozenset(my_string)
print(my_frozenset_from_string)

frozenset({'l', 'e', 'o', 'h'})

In [4]:
# From a regular set
my_set = {8, 9, 9, 10}
my_frozenset_from_set = frozenset(my_set)
print(my_frozenset_from_set)

frozenset({8, 9, 10})

In [5]:
# Creating an empty frozenset
empty_frozenset = frozenset()
print(empty_frozenset)

frozenset()

# Functions for frozenset

# 1.copy()

In [ ]:
 >> Returns a shallow copy of the frozenset.

In [39]:
fs = frozenset({1, 2, 3})
fs_copy = fs.copy()
print(fs_copy)  
print(fs is fs_copy)

frozenset({1, 2, 3})
True

# 2.union(other_set, ...)

>> Returns a new frozenset containing all elements from the frozenset and all the specified other sets

In [7]:
fs1 = frozenset({1, 2})
set2 = {2, 3}
union_fs = fs1.union(set2)
print(union_fs)

frozenset({1, 2, 3})

# 3.intersection(other_set, ...)

In [ ]:
>> Returns a new frozenset containing elements common to the frozenset and all the specified other sets.

In [8]:
fs1 = frozenset({1, 2, 3})
set2 = {3, 4}
intersection_fs = fs1.intersection(set2)
print(intersection_fs)

frozenset({3})

# 4.difference(other_set, ...)

>> Returns a new frozenset containing elements in the frozenset that are not in any of the specified other sets.

In [9]:
fs1 = frozenset({1, 2, 3})
set2 = {3, 4}
difference_fs = fs1.difference(set2)
print(difference_fs)

frozenset({1, 2})

#  5.symmetric_difference(other_set)

>> Returns a new frozenset containing elements that are in either the frozenset or the other set, but not in both.

In [10]:
fs1 = frozenset({1, 2, 3})
set2 = {3, 4}
symmetric_difference_fs = fs1.symmetric_difference(set2)
print(symmetric_difference_fs)

frozenset({1, 2, 4})

# 6.isdisjoint(other_set)

>>Returns True if the frozenset has no elements in common with the other set, and False otherwise.

In [40]:
fs1 = frozenset({1, 2})
set2 = {3, 4}
is_disjoint_fs = fs1.isdisjoint(set2)
print(is_disjoint_fs)

True

# 7.issubset(other_set)

In [ ]:
Returns True if all elements of the frozenset are present in the other set, and False otherwise.

In [41]:
fs1 = frozenset({1, 2})
set2 = {1, 2, 3}
is_subset_fs = fs1.issubset(set2)
print(is_subset_fs)

True

# 8.issuperset(other_set)

In [ ]:
subset>>>smaller
superset>>>bigger

In [ ]:
Returns True if all elements of the other set are present in the frozenset, and False otherwise.

In [42]:
fs1 = frozenset({1, 2, 3})
set2 = {1, 2}
is_superset_fs = fs1.issuperset(set2)
print(is_superset_fs)

True

In [ ]:
>> inbuilt functions can be used: min(),len(), max(), sum(), sorted() can be used.

# take any list, tuple and make set, frozenset by using type casting or set constructor. print that list, tuple, set, frozenset.