# string


string is a collection of characters 
it is surrounded by single quotes, double quotes or triple (single or double ) quotes

Used to represent text data (e.g., names, messages, file paths).

alphabets(a-z,A-Z), digit(0-9), space, special character(!@#$%^&*) can be there in string 
                                     
Immutable: Once created, strings cannot be modified (but new strings can be created).

In [1]:
#Creating Strings:

string1 = 'Hello'
string2 = "World"
string3 = 'This is a string.'
string4 = "Another string here."
type(string2)

str

In [ ]:
# Triple quotes (''' or """) are used for multi-line strings or docstrings (documentation strings):

multi_line_string = '''This is a
string that spans
multiple lines.'''

another_multi_line = """You can also use
double triple quotes."""

In [2]:
string4 = "Another string
here."
string4

SyntaxError: EOL while scanning string literal (542473280.py, line 1)

In [ ]:
we can not use single quotes inside single quotes
we can not use double quotes inside double quotes
we can not use triple quotes inside triple quotes

we cam use single quotes and double quotes

In [3]:
la="where are you going, "are you going to park""
la

SyntaxError: invalid syntax (2957277004.py, line 1)

In [4]:
str1='python'
print(str1)

python

In [ ]:
#practice

In [5]:
str1="python"
print(str1)

python

In [6]:
str1="""python"""
print(str1)

python

In [7]:
str1='''python'''
print(str1)

python

In [2]:
str2="""this is the class
we are in python class"""
str2

'this is the class\nwe are in python class'

In [8]:
str2 = 'python and 'data' science'
print(str2)

SyntaxError: invalid syntax (1062345633.py, line 1)

In [10]:
str2 = 'python and "data" science'
print(str2)

python and "data" science

In [11]:
str2 = "python and "data" science"
print(str2)

SyntaxError: invalid syntax (2896244630.py, line 1)

In [12]:
str2 = "python and 'data' science"
print(str2)

python and 'data' science

## escape character

In [ ]:
Escape characters in Python are special sequences of characters starting with a backslash (\).

In [ ]:
Include quotes inside a string (e.g., "She said, \"Hello!\"").

In [13]:
s="She said, \"Hello!\""
print(s)

She said, "Hello!"

In [ ]:
Newline (\n)

In [2]:
print("Hello\nWorld!")

Hello
World!

In [14]:
str3= 'Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy'
str3

'Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy'

In [7]:
str3= "Data science is an interdisciplinary \nfield that uses scientific methods \nprocesses algorithms and systems to \nextract knowledge and insights from noisy"
print(str3)

Data science is an interdisciplinary
field that uses scientific methods
processes algorithms and systems to
extract knowledge and insights from noisy

In [ ]:
Tab (\t)

In [15]:
print("Name:John Doe")
print("Age:30")

Name:John Doe
Age:30

In [3]:
print("Name:\tJohn Doe")
print("Age:\t30")

Name:	John Doe
Age:	30

In [16]:
# python data science
str5="python\tdata\tscience"
print(str5)

python	data	science

In [ ]:
Single Quote (\')

In [4]:
print('This is John\'s book.')

This is John's book.

In [5]:
str2 = "python and \"data\" science"
print(str2)

python and "data" science

# Raw string

In [ ]:
>> to give file path

In [ ]:
path = r"C:\\Users\\Documents\\file.txt"

## Indexing

In [ ]:
>> it is used to access only one character/particular characters from string.
>> positive index will always start from zero (0).Negative indexing is also allowed (starts from -1 for the last character).
>> use [] to print particular string item.

In [3]:
sample = 'python'

In [ ]:
             p y t h o n
             0 1 2 3 4 5

In [ ]:
Positive Indexing: Starts at 0 (left to right).

Negative Indexing: Starts at -1 (right to left).

Immutability: You canâ€™t modify a character using indexing (e.g., text[0] = "h"

In [ ]:
                          p y t h o n
positive indexing         0 1 2 3 4 5
negative indexing        -6-5-4-3-2-1

In [4]:
sample[0]

'p'

In [27]:
print(sample[0])
print(sample[1])
print(sample[2])
print(sample[3])
print(sample[4])
print(sample[5])
# print(sample[6])

p
y
t
h
o
n

In [28]:
print(sample[-6])
print(sample[-1])
# print(sample[2])
# print(sample[3])
# print(sample[4])
# print(sample[5])

p
n