# tuple

>>> A tuple is an immutable, ordered collection of elements enclosed in parentheses () and values are separated by , [comma.] Once created, its contents cannot be modified (no additions, deletions, or changes).


>>> Allow duplicates
>>> Items are comma separated
>>> Requires less memory
>>> Faster than list

In [ ]:
Properties of Tuples:
    
Ordered:>> Items in a tuple have a specific order that is maintained.
Immutable:>> Once a tuple is created, its elements cannot be changed (no adding, removing, or modifying). This is the key difference from lists.
Allows Duplicates:>> Tuples can contain duplicate items.
Heterogeneous Items:>> A single tuple can contain items of different data types.
Fixed Size:>> Unlike lists, the size of a tuple is fixed upon creation.

In [ ]:
Use of tuple:
    customer ID
    pan number 
    passport no
    UAN no
    Adhar number

In [ ]:
syntax:
    
# Empty tuple
empty_tuple = ()

# Tuple with one item (note the trailing comma)
single_item_tuple = (5,)

# Tuple with multiple items
my_tuple = (1, 2, 'hello', 3.14, True)

In [1]:
tuple1=(23,"string",4.5, 34)
type(tuple1)

tuple

# How to create tuple

In [3]:
tup=("laptop", "table","chair")
print(type(tup))

tup1=(1,2,5,3,23)
print(type(tup1))

<class 'tuple'>
<class 'tuple'>

In [5]:
# 1. From a list
my_list = [1, 2, 3]
my_tuple_from_list = tuple(my_list)
print(my_tuple_from_list)
print(type(my_tuple_from_list))

(1, 2, 3)
<class 'tuple'>

In [2]:
l=[1,23,45]
t=tuple(l)
type(t)

tuple

In [6]:
# 2.From a string
my_string = "python"
my_tuple_from_string = tuple(my_string)
print(my_tuple_from_string)

('p', 'y', 't', 'h', 'o', 'n')

In [7]:
# 3.From a range
my_range = range(5)
my_tuple_from_range = tuple(my_range)
print(my_tuple_from_range)

(0, 1, 2, 3, 4)

In [5]:
# Empty tuple
empty_tuple = tuple()
print(empty_tuple)

()

# How to access the elements from tuple

In [ ]:
>> Use indexing (like lists)

In [9]:
fruits = ("apple", "banana", "cherry") 
print(fruits[0])    
print(fruits[-1])

apple
cherry

# Functions/Methods in Tuple:

## 1.count(item):

In [ ]:
>>  Returns the number of times a specified item appears in the tuple.

In [8]:
my_tuple = (1, 2, 2, 3, 2, 4)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

### 2.index(item):

In [ ]:
2.index(item): 
    Returns the index of the first occurrence of a specified item. 
    If the item is not found, it raises a ValueError.

In [9]:
my_tuple = ('a', 'b', 'c', 'b')
index_of_b = my_tuple.index('b')
print(index_of_b)

1

In [ ]:
tuple11=('a', 'b', 'c', 'b')

In [8]:
index_of_z = my_tuple.index('z')
print(index_of_z)

ValueError: tuple.index(x): x not in tuple

# Inbuilt functions we can use with Tuples:

In [10]:
# 1.len(tuple): Get the length of a tuple

my_tuple = (10, 20, 'hello', 3.14)
length = len(my_tuple)
print(f"The length of the tuple is: {length}")

The length of the tuple is: 4

In [11]:
# 2.max(tuple): Find the largest item

numbers = (5, 2, 8, 1, 9)
largest = max(numbers)
print(f"The largest number in the tuple is: {largest}")

The largest number in the tuple is: 9

In [12]:
# 3.min(tuple): Find the smallest item


numbers = (5, 2, 8, 1, 9)
smallest = min(numbers)
print(f"The smallest number in the tuple is: {smallest}")

The smallest number in the tuple is: 1

In [13]:
# 4.sum(tuple): Calculate the sum of numeric items

numbers_tuple = (1, 2, 3, 4, 5)
total = sum(numbers_tuple)
print(f"The sum of the numbers in the tuple is: {total}")

The sum of the numbers in the tuple is: 15

In [17]:
# 5.sorted(tuple): Get a new sorted list

unsorted_tuple = (5, 1, 8, 3, 2)
sorted_tuple = tuple(sorted(unsorted_tuple))
print(f"Original tuple: {unsorted_tuple}")   
print(f"Sorted tuple: {sorted_tuple}") 
type(sorted_tuple)

Original tuple: (5, 1, 8, 3, 2)
Sorted tuple: (1, 2, 3, 5, 8)

tuple

In [ ]:
t=(1,2,4,5,6)

# Ways to update tuple

### 1.Converting to a List, Modifying, and Converting Back

In [ ]:
>> Note that these are direct ways to update tuple

In [19]:
my_tuple = (1, 2, 3)

print(f"original tuple is: {my_tuple}")
# Convert to a list
my_list = list(my_tuple)
print(f"List: {my_list}") #my_list=[1,2,3]



# Modify the list (add an element)
my_list.append(4) #my_list=[1,2,3,4]


# Convert back to a tuple
updated_tuple = tuple(my_list)
print(f"Updated Tuple: {updated_tuple}")

original tuple is: (1, 2, 3)
List: [1, 2, 3]
Updated Tuple: (1, 2, 3, 4)

In [20]:
my_tuple_new = (10, 20, 30)
print(f"original tuple is : {my_tuple_new}")
list_again = list(my_tuple_new)

list_again[1] = 25  # Modify an existing element

modified_tuple = tuple(list_again)
print(f"Modified Tuple: {modified_tuple}")

original tuple is : (10, 20, 30)
Modified Tuple: (10, 25, 30)

### 2. Concatenation: You can combine two or more tuples to create a new tuple.

In [3]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b')
tuple3=("z",)
# Concatenating two tuples
new_tuple = tuple1 + tuple2
print(new_tuple)
print("*"*15)
n_tuple=new_tuple+tuple3
print(n_tuple)

(1, 2, 3, 'a', 'b')
***************
(1, 2, 3, 'a', 'b', 'z')

In [21]:
# Adding a single element (remember the comma for a single-element tuple)
element_to_add = 4
new_tuple_with_element = tuple1 + (element_to_add,)
print(new_tuple_with_element)

(1, 2, 3, 4)

### Question: Create a tuple named student_info containing the student's name (string), age (integer), and grade (float). Then, access and print each element of the tuple using its index.

In [21]:
student_info = ("shubham", 20, 85.5)
print("Name:", student_info[0])
print("Age:", student_info[1])
print("Grade:", student_info[2])

Name: shubham
Age: 20
Grade: 85.5

## Question: You have two tuples, tuple1 = (1, 2, 3) and tuple2 = ('a', 'b', 'c'). Concatenate these two tuples to create a new tuple named combined_tuple and print it.

In [22]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
combined_tuple = tuple1 + tuple2
print("Combined Tuple:", combined_tuple)

Combined Tuple: (1, 2, 3, 'a', 'b', 'c')

### Question:Given a tuple data = (5, 10, 5, 15, 20, 5), find the length of the tuple and the number of times the value 5 appears in it. Print both results.

In [24]:
data = (5, 10, 5, 15, 20, 5)
length = len(data)
count_of_5 = data.count(5)
print("Length of the tuple:", length)
print("Count of 5:", count_of_5)

Length of the tuple: 6
Count of 5: 3

## Question: Write a program that takes an element as input and checks if it exists in the tuple fruits = ('apple', 'banana', 'cherry'). Print "Element found" if it exists, and "Element not found" otherwise.

In [25]:
fruits = ('apple', 'banana', 'cherry')
element_to_check = input("Enter an element to search: ")
if element_to_check in fruits:
    print("Element found")
else:
    print("Element not found")

Enter an element to search: strawberry
Element not found

Question: You have a list my_list = [1, 2, 3, 4, 5]. Convert this list into a tuple named my_tuple and print the tuple.

In [26]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print("Tuple from list:", my_tuple)

Tuple from list: (1, 2, 3, 4, 5)

Question: Given a tuple numbers = (10, 20, 30, 40, 50, 60), print the elements from index 1 to 4 (inclusive) using slicing.

In [27]:
numbers = (10, 20, 30, 40, 50, 60)
sliced_tuple = numbers[1:5]
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (20, 30, 40, 50)

# shallow copy and deep copy

>>> Shallow Copy: Creates a new copy but the contents are still linked to the original. changes in items does not affect shallow copy. Changes in the inner items of one, affect the other.

>>> Deep Copy: Creates a completely independent copies of all the contents. Changes in one do not affect the other.

In [7]:
list1=[1,2,[33,44]]
copy_of_list1=list1.copy()
list1[0]=99
list1
copy_of_list1
list1[2][0]=999
list1
copy_of_list1

[1, 2, [999, 44]]

In [23]:
original_list = [1, 2, [3, 4]]
shallow_copy = list(original_list)  #istead of this we can write it as original_list.copy()

print("Original list:", original_list)
print("Shallow copy:", shallow_copy)


# Let's change an element in the original list
original_list[0] = 10


print("\nAfter changing an element in the original:")
print("Original list:", original_list)
print("Shallow copy:", shallow_copy) # The change in the top level is NOT reflected


# Now, let's change an element inside the nested list in the original
original_list[2][0] = 30





print("\nAfter changing an element in the nested list in the original:")
print("Original list:", original_list)
print("Shallow copy:", shallow_copy) # The change in the nested list IS reflected!

Original list: [1, 2, [3, 4]]
Shallow copy: [1, 2, [3, 4]]

After changing an element in the original:
Original list: [10, 2, [3, 4]]
Shallow copy: [1, 2, [3, 4]]

After changing an element in the nested list in the original:
Original list: [10, 2, [30, 4]]
Shallow copy: [1, 2, [30, 4]]

In [24]:
import copy

original_list = [1, 2, [3, 4]]
deep_copy = copy.deepcopy(original_list)



print("\nOriginal list:", original_list)
print("Deep copy:", deep_copy)



# Let's change an element in the original list
original_list[0] = 100

print("\nAfter changing an element in the original:")
print("Original list:", original_list)
print("Deep copy:", deep_copy) # No change in the deep copy



# Now, let's change an element inside the nested list in the original
original_list[2][0] = 300

print("\nAfter changing an element in the nested list in the original:")
print("Original list:", original_list)
print("Deep copy:", deep_copy) # Still no change in the deep copy!

Original list: [1, 2, [3, 4]]
Deep copy: [1, 2, [3, 4]]

After changing an element in the original:
Original list: [100, 2, [3, 4]]
Deep copy: [1, 2, [3, 4]]

After changing an element in the nested list in the original:
Original list: [100, 2, [300, 4]]
Deep copy: [1, 2, [3, 4]]